@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Information and Technology College</h1>
    <p class="lead">Here you can view the courses and the modules for each course and you can also register for a course if you are interested</p>
    
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Courses</h2>
        <p><a class="btn btn-default" href="~/Courses/Index">view Courses &raquo;</a></p>
    </div>

</div>


<br /><br />
      <img src="~/images/backToSchool.jpg" height="150" width="330" />