@{
    ViewBag.Title = "Home Page";
}

<h1>The Information and Technology College</h1>



<div class="row">
    <div class="col-md-4">
        <h2>COURSES</h2>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Courses &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LOG-IN</h2>
        <p><a class="btn btn-default" href="">Log-in &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <h2>SIGN-UP</h2>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Sign-up &raquo;</a></p>
    </div>
</div>